# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Базы данных
*.db
*.sqlite3
data/*.json

# Настройки IDE
.idea/
.vscode/


# Системные файлы
.DS_Store
Thumbs.db

ui_*.py